.root{
  --key-height: 100%;
  --key-margin: 100%;
}

.xylophone {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
}

.xylophonekey {
  flex-direction: column;
  flex:1;
  background-color: white;
  display: flex;
  height: var(--key-height);
  margin-bottom: auto;
  margin-top: 31vh;
  margin-inline: 0.4vw;

  width: 75%;
  vertical-align: bottom;

  border: 2px solid black;
}

.xylophonekey.flat {
  flex-direction: column;
  flex:1;
  position: relative;
  background-color: white;
  margin-top: auto;
  margin-bottom: 31vh;
  margin-inline: -1.9vw;
  height: var(--key-height);
  width: 70%;
  z-index: 1;
  border: 2px solid black;

}
  
.xylophonekey.pressed, .xylophonekey.flat.pressed {
  background-color: rgb(194, 231, 255);
}

.xylophonekey-text {
  align-self: flex-end;
  color: black;
  font-weight: 400;
  font-size: 25px;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1vh;
}

.xylophonekey-note.flat {
  align-self: flex-end;
  color: black;
  font-weight: 400;
  font-size: 25px;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: auto;
}

.xylophonekey-note {
  align-self: flex-end;
  color: black;
  font-weight: 400;
  font-size: 25px;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: auto;
}